html {
    scroll-behavior: smooth;
}

.section-title {
    font-family: $space;
    font-size: 5rem;
}

.theme--dark.v-application {
    color: $light_hard;
}

.theme--light.v-application {
    color: $dark_hard;
}

.theme--light.v-card {
    background-color: $light;
    color: $dark_hard;
}

.theme--dark.v-card {
    background-color: $dark_soft;
    color: $light_hard;
}

.theme--dark.v-icon {
    color: $light_hard;
}

.theme--light.v-icon {
    color: $dark_hard;
}

.theme--dark.v-btn {
    color: $light_hard;
}

.theme--light.v-btn {
    color: $dark_hard;
}

.v-timeline-item__body>.v-card:not(.v-card--flat):after, .v-timeline-item__body>.v-card:not(.v-card--flat):before {
    border-right: 10px solid $bg_light3;
}
