html {
    scroll-behavior: smooth;
}

.section-title {
    font-family: 'Space Mono', monospace;
    font-size: 6rem;
}

.theme--dark.v-application {
    color: $light_hard;
}

.theme--light.v-application {
    color: $dark_hard;
}