.v-application--wrap {
    flex-direction: row;

    .nav-bar {
    }
    
    .v-main {
        flex: 1 0;
        margin-left: 180px;
    }
}
.theme--light.v-navigation-drawer {
    background-color: #f3f4d2;
}

.theme--dark.v-navigation-drawer {
    background-color: #21252b;
}