.v-application--wrap {
    flex-direction: row;

    .nav-bar {
        .subtitle-1 {
            text-transform: capitalize;
        }

        .list-pdf {
            .dark {
                color: black;
                text-decoration: none;
            }
            
            .light {
                color: white;
                text-decoration: none;
            }
        }

        .list-locale {
            .v-list-item__content {
                padding-top: 0;

                .localeswitcher {
                    font-size: 1rem;
                    max-height: 30px;
                    max-width: 85%;
                    margin: 0;
                    padding: 0;

                    .v-icon {
                        display: none;
                    }
                }
            }
        }

        .list-color {
            .v-input {
                margin: 0 0 0 auto;
                padding: 0;
            }
        }
    }

    .v-main {
        flex: 1 0;
        margin-left: 56px;
    }
}
.theme--light.v-navigation-drawer {
    background-color: #fbf1c7;
}

.theme--dark.v-navigation-drawer {
    background-color: #282828;
}
