.full-screen {
    min-height: 800px;

    .v-parallax {
        display: flex;
        align-items: center;
        min-height: 800px;
        padding-bottom: 50px;

        .v-parallax__image-container {
            .v-parallax__image {
                top: -500px;
            }
        }

        .portrait {
            margin-top: 50px;
            width: 250px;
        }

        .dark-profile {
            filter: grayscale(1);
            transform: scaleX(-1);
            box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
        }

        .light-profile {
            transform: scaleX(-1);
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }

        .dark-text {
            color: whitesmoke;
        }

        .light-text {
            color: #0a0a0a;
        }

        .parallax__title {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: -0.015625em;
            text-align: center;
        }

        .parallax__text {
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.0125em;
            text-align: center;
        }
    }
}

.v-application {
    .text-h1 {
        font-size: 1.5rem;
    }

    .text-h6 {
        font-size: 1rem;
    }
}


@media #{$small-up} {
    .full-screen {
        .v-parallax {
            .portrait {
                width: 275px;
            }
        }
    }
}

@media #{$medium-up} {
    .full-screen {
        .v-parallax {
            .portrait {
                width: 300px;
            }
        }
    }
}

@media #{$large-up} {
    .full-screen {
        min-height: 100vh;
        
        .v-parallax {
            min-height: 100vh;
            
            .portrait {
                width: 400px;
            }
        }
    }
}

@media #{$xlarge-up} {
    .full-screen {
        .v-parallax {
            .portrait {
                width: 500px;
            }

            .parallax__title {
                font-size: 6rem;
                line-height: 6rem;
                letter-spacing: -0.015625em;
                text-align: left;
            }

            .parallax__text {
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0.0125em;
                text-align: left;
            }
        }
    }
}