.education-section {
    padding: 20px 10px;

    .v-carousel {
        height: fit-content;
        .v-responsive {
            height: 100%;
            .v-responsive__content {
                height: 100%;
                .v-card {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 35% 15%;
                    background: none;
                    color: $dark_hard;

                    .card-decoration {
                        width: 100%;
                        .v-card__title {
                            font-size: 1.4rem;
                            word-break: keep-all;
                            font-style: italic;
                        }

                        .v-card__text {
                            font-size: 0.9rem;
                        }

                        .v-card__subtitle {
                            color: $bg_dark2;
                            font-size: 0.75rem;
                            text-transform: capitalize;
                        }

                        .img-container {
                            width: 300px;

                            .diplome-img {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$small-up} {
    .education-section {
        .v-carousel {
            .v-responsive {
                .v-responsive__content {
                    .v-card {
                        padding: 20% 15%;
                    }
                }
            }
        }
    }
}

@media #{$medium-up} {
    .education-section {
        padding: 75px 0;

        .v-carousel {
            .v-responsive {
                .v-responsive__content {
                    .v-card {
                        padding: 15% 15%;
                        .card-decoration {
                            .v-card__title {
                                font-size: 1.75rem;
                            }

                            .v-card__subtitle {
                                color: $bg_dark2;
                                text-transform: capitalize;
                            }

                            .img-container {
                                width: 400px;

                                .diplome-img {
                                    width: 130px;
                                    height: 130px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
