//TODO look to fix style
.education-section {
    min-height: 100vh;
    margin-top: 75px;

    .window-card {
        padding: 5% 5%;
        color: $dark_hard;

        .card-decoration {
            .v-card__title {
                padding: 1% 15%;
                margin-top: 13%;
                font-size: 1.75rem;
                word-break: keep-all;
                font-style: italic;
            }

            .v-card__subtitle {
                padding: 1% 0 1% 15%;
                margin-bottom: 13%;
                color: $bg_dark2;
                white-space: nowrap;
                text-transform: capitalize;
            }

            .v-card__text {
                padding: 0% 15%;
            }

            .img-container {
                width: 400px;

                .diplome-img {
                    width: 130px;
                    height: 130px;
                }
            }
        }
    }
}
