.experience-section {
    padding-top: 75px;

    .ballon {
        padding: 5px 25px;
        border-radius: 100px;
        border: 5px solid $secondary_dark;
    }

    .timeline {
        padding-top: 50px;
        padding-bottom: 85px;
    }

    .v-timeline-item__body > .v-card:not(.v-card--flat):after,
    .v-timeline-item__body > .v-card:not(.v-card--flat):before {
        border-right: 10px solid $bg_light3;
    }
}
.experience-light-bg {
    background-color: $bg_light2;
}

.experience-dark-bg {
    background-color: $bg_dark2;
}
