.controller {
    position: relative;
}

.nes {
    width: 460px;
    height: 176px;
    background-color: #bdbdbd;
    border-radius: 5px;

    .controller-inner {
        position: absolute;
        width: 448px;
        height: 148px;
        left: 6px;
        bottom: 6px;
        background-color: #222;
        border-radius: 5px;
        overflow: hidden;
    }

    .center::before,
    .center::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: #777f82;
        border-radius: 5px;
        content: '';
    }

    .center::before {
        top: 0px;
        border-radius: 0 0 5px 5px;
    }

    .center::after {
        top: 30px;
    }

    .center {
        position: absolute;
        width: 112px;
        height: 100%;
        left: 168px;
        top: 0;

        .main-buttons::before,
        .main-buttons::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: #777f82;
            border-radius: 5px;
            content: '';
        }
        .main-buttons::before {
            top: -28px;
        }
        .main-buttons::after {
            bottom: -28px;
        }

        .main-buttons {
            position: absolute;
            width: 100%;
            height: 40px;
            bottom: 20px;
            border-radius: 5px;
            background-color: #bdbdbd;

            .select,
            .start {
                position: absolute;
                top: 12px;
                width: 36px;
                height: 16px;
                border-radius: 8px;
                background-color: #222;
                font-family: 'Nes Controller';
                color: #c91515;
                font-size: 14px;
            }
            .select::before,
            .select::after,
            .start::before,
            .start::after {
                position: absolute;
                left: 0;
                top: -40px;
            }
            .select {
                left: 12px;
            }
            .select::before {
                content: 'SELECT';
            }
            .start {
                right: 12px;
            }
            .start::after {
                content: 'START';
            }
        }
    }
    .controller-left::after {
        border-radius: 50%;
        content: '';
        height: 28px;
        left: 61px;
        position: absolute;
        top: 67px;
        width: 28px;
        z-index: 10;
    }

    .controller-left {
        height: 100%;
        left: 42px;
        width: 168px;

        .d-pad::before,
        .d-pad::after {
            position: absolute;
            left: 29px;
            top: 0;
            width: 42px;
            height: 100px;
            background-color: #bdbdbd;
            border-radius: 5px;
            content: '';
        }

        .d-pad::after,
        .d-pad .left,
        .d-pad .right {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .d-pad {
            height: 100px;
            width: 100px;
            position: absolute;
            left: 28px;
            bottom: 14px;

            .down::before,
            .down::after,
            .left::before,
            .left::after {
                border-radius: 50%;
                content: '';
                height: 16px;
                left: 6px;
                position: absolute;
                width: 16px;
            }

            .down::before,
            .left::before {
                bottom: 6px;
            }

            .down::after,
            .left::after {
                top: 6px;
            }

            div {
                position: absolute;
                top: 7px;
                left: 36px;
                width: 28px;
                height: 86px;
                background-color: #222;
                border-radius: 5px;
                z-index: 10;
            }
        }
    }

    .controller-right {
        height: 100%;
        width: 168px;
        position: absolute;
        right: 0;
        top: 0;

        .logo {
            color: #c91515;
            font-size: 21px;
            left: 26px;
            position: absolute;
            top: 28px;
            width: 112px;
        }
        .buttons {
            position: absolute;
            right: 42px;
            top: 82px;
            width: 112px;
            height: 48px;

            .button {
                position: absolute;
                height: 48px;
                width: 48px;
                background-color: #bdbdbd;
                border-radius: 5px;
            }
            .button:first-child {
                left: 0;
            }
            .button:last-child {
                right: 0;
            }
            .button::after {
                position: absolute;
                top: 8px;
                left: 8px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: #c91515;
                content: '';
            }
        }
    }
}
