.projects-section {
    padding: 75px 0;

    .v-sheet.v-card:not(.v-sheet--outlined) {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 30px 4px;
    }

    .project-card {
        width: 48%;

        .theme--light.v-card {
            background-color: $light_soft;
            color: $dark_hard;
        }

        .theme--dark.v-card {
            background-color: $dark_soft;
            color: $light_hard;
        }
    }
}
