.skills-section {
    padding: 25px 0;

    .skill__container {
        margin: 10px;
    }
}

.skills-light-bg {
    background-color: $bg_light3;
}

.skills-dark-bg {
    background-color: $bg_dark3;
}

@media #{$medium-up} {
    .skills-section {
        padding-top: 75px;
        padding-bottom: 150px;
    }
}
