.testimonials-section {
    padding-top: 75px;
    padding-bottom: 100px;

    .sheet {
        padding: 40px;

        .testimonial-text {
            font-size: 1.25rem;
        }

        .testimonial-author {
            font-size: 1.5rem;
            font-style: italic;
        }
    }

    .sheet-dark-bg {
        background-color: $dark_256;
    }

    .sheet-light-bg {
        background-color: $light_256;
    }
}
