.tetris-section {
    min-height: fit-content;
    padding: 25px 0;

    .tetris-title {
        padding: 0 25px;
        border: 1px solid currentColor;
        border-radius: 50px 10px;
        background-color: $bright_aqua;
        box-shadow: 0px 5px 10px 0px;

        font-family: $bungee;
        font-size: 2rem;
        text-align: center;
    }

    .tetris__grid {
        width: 200px;

        .square {
            width: 20px;
            height: 20px;
        }
    }

    .v-sheet {
        height: fit-content;
        padding: 5px;
        font-family: 'DotGothic16', sans-serif;

        .mini-tetris__grid {
            width: 80px;

            .square {
                width: 20px;
                height: 20px;
            }
        }

        .score {
            font-weight: bold;
            letter-spacing: 2px;

            .v-chip.v-size--default {
                font-size: 0.75rem;
            }
        }

        .v-btn__content {
            font-size: 0.75rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    .gameover {
        font-family: 'DotGothic16', sans-serif;

        .gameover-text {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 2px;
            white-space: nowrap;
        }

        .score {
            font-weight: bold;

            .v-chip.v-size--default {
                font-size: 0.75rem;
            }
        }

        .gameover-btn {
            font-size: 1.25rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    .sheet-dark-bg {
        background-color: $bg_dark1;
    }

    .sheet-light-bg {
        background-color: $bg_light1;
    }

    .grid-dark-bg {
        background-color: $dark;
    }

    .grid-light-bg {
        background-color: $light;
    }
}

.tetris-light-bg {
    background-color: $bg_light2;
}

.tetris-dark-bg {
    background-color: $bg_dark2;
}

@media #{$medium-up} {
    .tetris-section {
        .tetris-title {
            width: 280px;
            box-shadow: 0px 7px 20px 0px;
            font-size: 3rem;
        }

        .tetris__grid {
            width: 300px;

            .square {
                width: 30px;
                height: 30px;
            }
        }

        .v-sheet {
            padding: 10px;

            .mini-tetris__grid {
                width: 120px;

                .square {
                    width: 30px;
                    height: 30px;
                }
            }

            .score {
                .v-chip.v-size--default {
                    font-size: 1.25rem;
                }
            }
        }

        .gameover {
            .gameover-text {
                font-size: 4rem;
            }

            .score {
                .v-chip.v-size--default {
                    font-size: 1.25rem;
                }
            }

            .gameover-btn {
                font-size: 1.25rem;
            }
        }
    }
}

@media #{$large-up} {
    .tetris-section {
        min-height: 100vh;
        padding: 75px 0;

        .tetris-title {
            width: 550px;
            font-size: 6rem;
        }

        .tetris__grid {
            width: 350px;

            .square {
                width: 35px;
                height: 35px;
            }
        }

        .v-sheet {
            padding: 20px;

            .mini-tetris__grid {
                width: 140px;

                .square {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .gameover {
            .gameover-text {
                font-size: 6rem;
                letter-spacing: 2px;
            }
        }
    }
}
