.tetris-section {
    .tetris__col {
        padding: 0;

        .square {
            width: 30px;
            height: 30px;
            border: 1px solid black;
        }
    }

    .tetromino {
        background-color: greenyellow;
    }

    .mini-tetris__col {
        width: 120px;
        height: 30px;
        padding: 0;

        .square {
            width: 30px;
            height: 30px;
            border: 1px solid black;
        }
    }
}
