.tetris-section {
    .tetris-title {
        font-family: 'Bungee Shade', cursive;
        font-size: 5rem;
    }
    .tetris__grid {
        max-width: 330px;
        min-width: 330px;

        .square {
            width: 30px;
            height: 30px;

            border: 1px solid black;
        }
    }

    .mini-tetris__grid {
        max-width: 150px;
        min-width: 150px;

        .square {
            width: 30px;
            height: 30px;

            border: 1px solid black;
        }
    }
}
